*{padding: 0;margin: 0;}
body{font-size:16px;line-height: 28px;font-family: 'Open Sans', sans-serif;margin: 0;padding: 0;color:#333;box-sizing:border-box;}
h1,h2,h3,h4,h5,h6{font-family: 'Roboto', sans-serif;margin:10px 0px;line-height:120%; }
h1{font-size:240%; }
h2{font-size: 220%;}
h3{font-size: 200%;}
h4{font-size: 180%;}
h5{font-size: 160%;}
h6{font-size: 140%;}
img{max-width:100%;height:auto;padding:2px;background: #f9f9f9;border-radius:3px;border:1px solid :#e9e9e9;}
.container{width:100%;max-width:1200px;margin: 0 auto;}
.row{display:flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;float: ; }
.row .logo{flex-basis:25%;}
.row .menu {flex-basis:75%;height:60px;}
/*--------simple menu design---*/
.menu ul{list-style-type: none;float:right;}
.menu ul li{display:inline-block;padding:0px 10px;line-height:60px; }
.menu ul li:last-child{padding-right:0;}
.menu a{text-decoration:none;}
/*----------main-content------------*/
.content{flex:3;}
.sidebar{flex:1;}
/*----------footer----------*/
.col-1{flex-basis:100%;}
.col-2{flex-basis:49%;}
.col-3{flex-basis:32%;}
.col-4{flex-basis:24%;}
/*---------general padding--------*/
.p10{padding:10px;}
/*------primary color----------*/

@media screen and (max-width:901px){
	.container{width:98%;margin:0 auto;}
	.row .logo{flex-basis:30%;}
	.row .menu {flex-basis:70%;}
	.content{flex-basis:98%;order:3;}
	.sidebar{flex-basis:98%;order:4;}
	.col-2,.col-3,.col-4{flex-basis:49%;}
}
@media screen and (max-width:641px){
	.container{width:98%;margin:0 auto;}
	.row .logo{flex-basis:30%;}
	.row .menu {flex-basis:70%;}
	.content{flex-basis:100%;order:3;}
	.sidebar{flex-basis:100%;order:4;}
	.col-2,.col-3,.col-4{flex-basis:100%;}
}